<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Content</th>
      <th>Pics</th>
      <th>Link</th>
      <th>Address</th>
      <th>Lat</th>
      <th>Long</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.category %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.pics %></td>
        <td><%= post.link %></td>
        <td><%= post.address %></td>
        <td><%= post.lat %></td>
        <td><%= post.long %></td>
        <td><%= post.user %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
